<!DOCTYPE html>
<html>
<head>
	<title>Juego</title>
</head>
<body>
<h1>Inicio de Partida</h1>
	<form action="/repartir" method="post">
	<table>
		<tr>
			<th>
				<h3> Jugador 1</h3>
				<div><h3>Carta 1</h3> <h4 id="camp1"><%= session['camp1']%></h4></div>
				<div><h3>Carta 2</h3> <h4 id="camp2"><%= session['camp2']%></h4></div>
				<div><h3>Total J1</h3> <h4><%= session['J1T']%></h4></div>
			</th>
			<td width="50">
				
			</td>
			<td width="50">
				
			</td>
			<th>
				<h3> Casa</h3>
				<div><h3>Carta 1</h3> <h4 id="camp3"><%= session['camp3']%></h4></div>
				<div>
				<h3>Carta 2</h3> <h4 id="camp4" ><%= session['camp4'] %></h4>
				<div><h3>Total Casa</h3> <h4><%= session['CasaT']%></h4></div>
			</th>
		</tr>
		<tr>
			<td colspan="4" align="center">
				<h1><span id="mensaje"><%= session['mensaje']%></span></h1>
				<input type="submit" value="Repartir">
			</td>
		</tr>	
	</table>
	</form>
	<form action="/pasar" method="post">
		<input type="submit" value="Pasar">
	</form>
</body>
</html>